{% extends 'SpxMainBundle:Galerie:galerie.html.twig' %}

{% block modele %}

<h2>Exemples de bruleurs Sparxs</h2>
<p>Les brûleurs Sparxs sont disponibles sous différentes formes:</p>
<ul>
	<li>fourni avec un habillage SPARXS pour intégration immédiate dans une cheminée existante</li>
	<li>ourni dans une cheminée complète d'une de nos sociétés partenaires</li>
	<li>intégré dans un projet de décoration intérieure par un architecte, décorateur ou entrepreneur</li>
</ul> 
<p>Voici quelques exemples de <strong>cheminées à éthanol</strong> équipées du brûleur Sparxs, à vous d'imaginer la votre!</p>

<div id="galerie">
	<div class="col-md-4" align="center">
		<img src="{{ asset('img/Galerie/cheminee%20bruleur%20ethanol%20WTN.jpg') }}" alt="Cheminée rénovée avec l'habillage SPARXS sur mesure">
		<p align="center"><small>Cheminée rénovée avec l'habillage SPARXS sur mesure</small></p>
	</div>
	<div class="col-md-4" align="center">
		<img src="{{ asset('img/Galerie/cheminee%20bruleur%20ethanol%20hotel.jpg') }}" alt="Cheminée avec brûleur à éthanol dans un hotel">
		<p align="center"><small>Hotel de luxe à la montagne</small></p>
	</div>
	<div class="col-md-4" align="center">
		<img src="{{ asset('img/Galerie/cheminee%20bruleur%20ethanol%20CT-K.jpg') }}" alt="Exemple de réalisation de cheminée par une société partenaire de SPARXS">
		<p align="center"><small>Exemple de réalisation d'une cheminée par une société partenaire de SPARXS</small></p>
	</div>
	<div class="col-md-4" align="center">
		<img src="{{ asset('img/Galerie/cheminee%20bruleur%20ethanol%20godz.JPG') }}" alt="">
		<p align="center"><small>Intégration sur mesure dans une cheminée</small></p>
	</div>
	<div class="col-md-4" align="center">
		<img src="{{ asset('img/Galerie/cheminee%20bruleur%20ethanol%20lmbrt.jpg') }}" alt="Habillage d'un brûleur SPARXS en Béton Déco">
		<p align="center"><small>Habillage d'un brûleur SPARXS en Béton Déco</small></p>
	</div>
	<div class="col-md-4" align="center">
		<img src="{{ asset('img/Galerie/cheminee%20bruleur%20ethanol%20carre.jpg') }}" alt="Cheminée contemporaine renovée avec habillage sur mesure SPARXS">
		<p align="center"><small>Cheminée contemporaine renovée avec habillage sur mesure SPARXS</small></p>
	</div>
	<div class="col-md-4" align="center">
		<img src="{{ asset('img/Galerie/cheminee%20bruleur%20ethanol%20BSTD.JPG') }}" alt="Brûleur posé entre des chenets, habillé de morceaux de bois">
		<p align="center"><small>Brûleur posé entre des chenets, habillé de morceaux de bois</small></p>
	</div>
	<div class="col-md-4" align="center">
		<img src="{{ asset('img/Galerie/cheminee%20bruleur%20ethanol%20Archi1.jpg') }}" alt="Intégration d'un brûleur SPARXS par un architecte">
		<p align="center"><small>Intégration d'un brûleur SPARXS par un architecte</small></p>
	</div>
	<div class="col-md-4" align="center">
		<img src="{{ asset('img/Galerie/cheminee%20bruleur%20ethanol%20A-arrondie.jpg') }}" alt="Exemple de réalisation de cheminée par une société partenaire de SPARXS">
		<p align="center"><small>Exemple de réalisation de cheminée par une société partenaire de SPARXS</small></p>
	</div>
</div>

{% endblock %}