<!DOCTYPE html >
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Sparxs | {% block title %}Bruleurs à éthanol de qualité et 100% conformes à la norme{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <!--link href="../../dist/css/bootstrap.css" rel="stylesheet" -->
    <link href="{{ asset('css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{ asset('css/main.css')}}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar" role="navigation" style="margin-bottom:0">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <!--<span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>-->
              </button>
              <a class="navbar-brand" href="{{ path('spx_main_homepage')}}">SPARXS</a>
            </div>
            <div class="navbar-inner pull-right">
              <div class=container>
              <ul id="top-nav"class="nav navbar-nav">
                <li id="navbar-accueil"><a href="{{ path('spx_main_homepage')}}">Accueil</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('spx_main_produits', {'modele' : 'topdec' }) }}">Produits <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ path('spx_main_produits', {'modele' : 'topdec' }) }}">Modèle Topdec</a></li>
                    <li><a href="{{ path('spx_main_produits', {'modele' : 'topdec-xl' }) }}">Modèle Topdec XL</a></li>
                    <li><a href="{{ path('spx_main_produits', {'modele' : 'topdec-xxl' }) }}">Modèle Topdec XXL</a></li>
                    <li><a href="{{ path('spx_main_produits', {'modele' : 'recharges' }) }}">Recharges</a></li>
                  </ul>  
                <li id="navbar-habillages"><a href="{{ path('spx_main_habillages', {'type' : 'beton'}) }}">Habillages</a></li>
                <li id="navbar-securite"><a href="{{ path('spx_main_securite', {'item' : 'anti-flash' }) }}">Sécurité</a></li>
                <li id="navbar-galerie"><a href="{{ path('spx_main_galerie_fonctionnement')}}">Galerie</a></li>
                <li id="navbar-news"><a href="{{ path('spx_main_news')}}">News</a></li>
                <li id="navbar-reglementation"><a href="{{ path('spx_main_reglementation')}}"><button type="button" class="btn btn-danger">Feux de bois <span class="glyphicon glyphicon-flash"></span></button></a></li>
                <li id="navbar-commander"><a href="{{ path('spx_main_commander')}}"><button type="button" class="btn btn-warning">Contactez nous</button></a></li>
              </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
<!-- TEST D'UN MENU DEROULANT
            <div class="navbar">
              <div class="navbar-inner">
              <div class=container>
              <ul class="nav">
                <li ><a href="{{ path('spx_main_homepage')}}">Accueil</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('spx_main_produits', {'modele' : 'topdec' }) }}">Produits <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ path('spx_main_produits', {'modele' : 'topdec' }) }}">Modèle Topdec</a></li>
                    <li><a href="{{ path('spx_main_produits', {'modele' : 'topdec-xl' }) }}">Modèle Topdec XL</a></li>
                    <li><a href="{{ path('spx_main_produits', {'modele' : 'topdec-xxl' }) }}">Modèle Topdec XXL</a></li>
                    <li><a href="{{ path('spx_main_produits', {'modele' : 'recharges' }) }}">Recharges</a></li>
                  </ul>  
                <li ><a href="{{ path('spx_main_habillages', {'type' : 'beton'}) }}">Habillages</a></li>
                <li ><a href="{{ path('spx_main_securite', {'item' : 'anti-flash' }) }}">Sécurité</a></li>
                <li ><a href="{{ path('spx_main_galerie_fonctionnement')}}">Galerie</a></li>
                <li ><a href="{{ path('spx_main_news')}}">News</a></li>
                <li ><a href="{{ path('spx_main_reglementation')}}"><button type="button" class="btn btn-warning navbar-btn">Feux de bois</button></a></li>
                <li ><a href="{{ path('spx_main_commander')}}"><button type="button" class="btn btn-warning navbar-btn">Contactez nous</button></a></li>
              </ul>
              </div>
              </div>
            </div>
-->


    {% block body %}
    <!-- Carousel 
    ================================================== -->
    <section>
    <div class="container">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="15000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="{{ asset('img/slide1.jpg')}}" alt="First slide">
              <div class="carousel-caption">
                <h1>Bruleurs à éthanol Sparxs </span></h1>
                <p>Pour redonner vie à votre salon, rien de mieux que la chaleur d'une vraie flamme</p>
                <!--<p><a class="btn btn-lg btn-primary" href="{{ path('spx_main_commander')}}" role="button">Commander votre bruleur</a></p>-->
              </div>
          </div>
          <div class="item">
            <img src="{{ asset('img/slide2.jpg')}}" alt="Second slide">
              <div class="carousel-caption">
                <h1>Sécurité maximale</h1>
                <p>Nos bruleurs sont conformes aux normes européennes, équipés d'un détecteur de CO2 et d'une sécurité enfant, profitez de la joie d'un feu en toute séreinité.</p>
                <p><a class="btn btn-lg btn-primary" href="{{ path('spx_main_securite', {'item' : 'anti-flash' }) }}" role="button">En savoir plus</a></p>
              </div>
          </div>
          <div class="item">
            <img src="{{ asset('img/slide3.jpg')}}" alt="Third slide">
              <div class="carousel-caption">
                <h1>100% personnalisable</h1>
                <p>Commandez votre bruleur dans un ensemble en Béton ou en Inox. Choisissez parmis nos produits, ceux de notre partenaires ou faites-vous faire le votre sur mesure</p>
                <p><a class="btn btn-lg btn-primary" href="{{ path('spx_main_galerie_photos') }}" role="button">Voir la galerie</a></p>
              </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div><!-- /.carousel -->
    </div><!-- /.container -->
    </section>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <section>
      <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <br><br>

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">La plus belle flamme du marché</h2>
            <p class="lead">Sparxs vous garantie la meilleure qualité de combustion du marché avec une flamme vive et légère, aucune odeur et une chaleur incroyable. Vous n'avez plus besoin d'un conduit pour profiter de la chaleur d'un feu.</p>
          </div>
          <div class="col-md-5" align="center">
            <img class="featurette-image img-responsive" src="{{ asset('img/flamme.jpg')}}" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-5" align="center">
            <img class="featurette-image img-responsive" src="{{ asset('img/carte.jpg')}}" alt="Generic placeholder image">
          </div>
          <div class="col-md-7">
            <h2 class="featurette-heading">Entièrement sécurisée et aux normes</h2>
            <p class="lead">Au coeur de nos produits: un système à sécurité active de deuxième génération pour cheminées sans conduit au bio-ethanol qui vous apporte sécurité maximale et qualité de combustion optimale certifiée sans rejets nocifs.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Cheminées à 100% personnalisables</h2>
            <p class="lead">Nos brûleurs à éthanol sont adaptables à vos cheminées. Choisissez un habillage standard, sur mesure, ou parmi les nombreux choix de nos partenaires.</p>
          </div>
          <div class="col-md-5" align="center">
            <img class="featurette-image img-responsive" src="{{ asset('img/yinyang.jpg')}}" alt="Generic placeholder image">
          </div>
        </div>

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
    </section>

    <section style="height: 100px; background-color: #C8C8C8">
      <h3 align="center" style="line-height: 100px"><img class="img-circle" src="{{ asset('img/fabrique-en-france.jpg') }}" alt="fabriqué en france" width="50px"> Les brûleurs Sparxs sont conçus et produits en France</h3>
    </section>


    {% endblock %}

    <!-- FOOTER -->
  <div class="container">
    <div class="row">
    <p><strong>Pour en savoir plus...<br />
    </div>
    <div class="row">
    <div class="col-md-3">
    <a href="http://www.sparxs.fr/fr/habillage-beton-cire.html">Terminologie : 
    Cheminée à l'éthanol est un terme classiquement utilisé pour désigner tout système de
    décoration / chauffage fonctionnant à l&#8217;éthanol. En réalité, les termes «&nbsp; 
    foyer à l&#8217;éthanol&nbsp;» ou «&nbsp;foyer à
    l&#8217;éthanol sans conduit&nbsp;» sont plus génériques : l&#8217;habillage en
    forme de cheminée ou l&#8217;utilisation dans une cheminée existante en étant
    des cas particuliers.</a> <br /> <br />
  </div> <!-- col-md-3 -->
  <div class="col-md-4">
  <a href="http://www.sparxs.fr/fr/bruleur-ethanol-ceramic.html">
    Comment fonctionne le syt&egrave;me de bruleur &agrave; l'etanol : <br />
    Le c&#339;ur du système est constitué par le brûleur&nbsp;aussi appelé
    bloc
    de combustion. Longtemps en forme de boîte à mouchoirs ou de godets
    simples, les blocs de combustion à sécurité active sont d'une
    conception différente pour offrir enfin une bonne qualité de combustion
    (absence d&#8217;odeur et de vapeurs parfois indisposantes) et intégrer
    l&#8217;électronique nécessaire aux sécurités actives exigées par la norme
    D35-386.</a><br /> <br />
  </div> <!-- col-md-3 -->
  <div class="col-md-5">
     <a href="http://www.sparxs.fr/fr/qualite-combustion-ethanol.html">
    Ethanol et agriculture biologique :<br />
    La dénomination bio-éthanol signifie issu de
    l'agriculture et non de produits fossiles. Néanmoins le bio éthanol
    n'est pas issu de l'agriculture biologique comme les produits
    généralement étiquettés " &nbsp;Bio ". Le bioéthanol est écologique
    car il ne dégage pas plus de CO2 que les plantes qui ont servi à le
    générer&nbsp;n'en ont absorbé&nbsp;pendant leur croissance.
    De plus toutes les calories dégagées par le bloc de combustion pendant
    la flambée servent à chauffer la pièce, à la différence
    des&nbsp;systèmes à conduit qui rejettent une part plus ou moins
    importante de ces calories dans l'atmosphère</a>
   </div> <!-- col-md-6 -->
  </div> <!-- row -->
</div> <!-- container -->
<div class="container">
    <div class="row"> 
      <footer style="padding: 20px 0px" align="center">
        <p><small>2013 Sparxs, SAS. - 15 rue Gudin, 75016 Paris - Tel: 09 81 74 74 74</small></p>
        <p><small><a href="mailto:contact@sparxs.fr">contact@sparxs.fr</a> - <a href="{{ path('spx_main_commander')}}">Nous contacter</a> - <a href="{{ path('spx_main_mention') }}">Mention légale</a> - <a href="https://plus.google.com/110182932904096250201" rel="publisher">Google+</a></small></p>
      </footer>
 </div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- <script src="{{ asset('dist/js/bootstrap.min.js')}}"></script> -->
    <script src="../../web/dist/js/bootstrap.min.js"></script>
    <script src="../../docs-assets/js/holder.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46216600-1', 'sparxs.fr');
      ga('send', 'pageview');

    </script>
  </body>
</html>

